/* Hamburger Page Styles Here */
.hamburger-menu {
  background: #0C7EAC;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  width: 100vw;  
  z-index: 10;
  height: 100%;
  overflow-y: scroll;
  transition: all 0.3s ease-in;
}

.hamburger-menu.open {
  transform: translateX(0);
  transition: all 0.3s ease-in;   
}

/* Main Header Styles */
.main-header {
  margin: 20px 0;
  overflow: hidden;
}

.main-header:after {
  content: "";
  display: table;
  clear: both;
}

.main-header__close { 
  float: right;
  margin-right: 20px;
}

/* Main Menu Styles */
.main-menu__item {
  border-top: 2px solid #8dc2d8;
  margin-left: 20px;
  width: 100%;
  position: relative;
}

.main-menu__item:last-child {
  border-bottom: 2px solid #8dc2d8;
}

.main-menu__link {
  color: #fff;
}

.main-menu__icon {
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 0;
}

.main-menu__image {
  width: 40px;
}

.main-menu__notification {
  font-size: 14px;
  height: 25px;
  width: 25px;
}

.main-menu__notification p {
  padding-top: 2px;
}  

.main-menu__text {
  position: absolute;
  top: 50%;
  left: 65px;
  transform: translateY(-50%);
  font-size: 24px;
}

/* Footer Styles */
.footer__state-badge {
  text-align: center;
  margin-top: 80px;
}

.footer__state-badge-image {
  width: 70%;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__button {
  border: 3px solid #8dc2d8;
  border-radius: 40px;
  color: #fff;
  padding: 20px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 0 20px;
}