/* Login Page Styles Here */
.page-login {
  background: repeating-linear-gradient(
    135deg,
    #4B9ED0,
    #4B9ED0 2px,
    #4699CE 1px,
    #4699CE 15px
  );
  text-align: center;
}

/* Header Styles */
.main-header{
  margin: 40px 0 20px;
}

.main-header__tagline {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  margin: 20px 0 60px;
}

/* Email Form Styles */
.email-signup__form {
  position: relative;
}
.email-signup__label {
  display: block;
  text-align: left;
}

.email-signup__input {
  color: #fff;
  margin: 20px 0;
  border-bottom: 1px solid #fff;
}

.email-signup__submit {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(25%, -25%);
}

/* Call To Action Styles */
.call-to-action {
  display: block;
  position: relative;
  background-color: #fff;
  color: #0d9bd3;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
}

.call-to-action__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer Styles */
.footer {
  margin-top: 40px;
}