/* Site-Wide Styles Here */
a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.page {
  background: repeating-linear-gradient(
    135deg,
    #4B9ED0,
    #4B9ED0 2px,
    #4699CE 1px,
    #4699CE 15px
  );
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.notification {
  text-align: center;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  background: #E02E0B;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  transform: translate(50%, -20%);
}

.notification p {
  margin: 0;
  padding: 0;
  padding-top: 1px;
}