<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Hamburger Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/pages/hamburger.css">    
  </head>
  <body class="page-hamburger page">
    <div class="page-hamburger__container container">
      <div class="main-header">
        <img class="main-header__close" src="../assets/menu/menu-white-close.svg">
      </div>    
      <div class="main-menu">
        <ul class="main-menu__items">
          <li class="main-menu__item">
            <div class="main-menu__icon">
                <img class="main-menu__image" src="../assets/icons/icon-white-email.svg">
                <div class="main-menu__notification notification"><p>3</p></div>                
            </div>
            <span class="main-menu__text">Messages</span>
          </li>
          <li class="main-menu__item">
            <div class="main-menu__icon">
              <img class="main-menu__image" src="../assets/menu/menu-white-settings.svg">
            </div>
            <span class="main-menu__text">Settings</span>
          </li>
        </ul>
      </div>  
      <div class="footer">
        <div class="footer__state-badge">
          <img class="footer__state-badge-image" src="../assets/state_badges/white/white-california.png">            
        </div>
        <div class="footer__menu">
          <a href="login.html" class="footer__button">Logout</a>
          <a href="payment.html" class="footer__button">Feedback</a>
        </div>
      </div>  
    </div>
  </body>
</html>