<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NIC-Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/pages/login.css">    
  </head>
  <body class="page-login page">
    <div class="page-login__container container">
        <div class="main-header">
          <div class="main-header__image">
            <img src="../assets/gov2go_logos/Gov2Go-logo-white-vertical.svg">
          </div>
          <h2 class="main-header__tagline">Your personal assistant for government.</h2>
        </div>
        <div class="email-signup">
          <form action="main-menu.html" class="email-signup__form">
            <label for="email" class="email-signup__label">Enter Your Email Address</label>
            <input type="text" id="email" class="email-signup__input">
            <button type="submit" class="email-signup__submit">
              <a class="email-signup__submit-link" href="hamburger.html">
                <img src="../assets/icons/icon-white-email.svg">                  
              <a>
            </button>
          </form>
        </div>
        <a class="call-to-action button" href="hamburger.html">
          <span class="call-to-action__text">Try gov2go</span>
        </a>
        <footer class="footer">
          <div class="footer__text">
            You will be sent an email to review if you want to get the full 
            benefits of using Gov2Go, like managing your businesss or fishing license.
          </div>
        </footer>
    </div>
  </body>
</html>