<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Main Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/pages/hamburger.css">    
    <link rel="stylesheet" type="text/css" href="../css/pages/main-menu.css">
  </head>
  <body id="page-main-menu" class="page-main-menu page">
    <div id="hamburger-menu" class="hamburger-menu">
      <header class="main-header">
        <img class="main-header__close" id="hamburger-close" src="../assets/menu/menu-white-close.svg">
      </header>    
      <main class="main-menu">
        <ul class="main-menu__items">
          <li class="main-menu__item">
              <a class="main-menu__link" href="main-menu.html">
                <div class="main-menu__icon">
                  <img class="main-menu__image" src="../assets/icons/icon-white-email.svg">
                  <div class="main-menu__notification notification"><p>3</p></div>                
              </div>
              <span class="main-menu__text">Messages</span>
            </a>
          </li>
          <li class="main-menu__item">
            <a href="payment.html" class="main-menu__link">
              <div class="main-menu__icon">
                <img class="main-menu__image" src="../assets/menu/menu-white-settings.svg">
              </div>
              <span class="main-menu__text">Settings</span>
            </a>
          </li>
        </ul>
      </main>  
      <div class="state-badge">
        <img class="state-badge__image" src="../assets/state_badges/white/white-california.png">            
      </div>
      <footer class="footer">
        <div class="footer__menu">
          <a href="login.html" class="footer__button">Logout</a>
          <a href="payment.html" class="footer__button">Feedback</a>
        </div>
      </footer>  
    </div>
    <div class="page-main-menu__container container">
      <header class="top-nav">
        <a href="login.html" class="top-nav__back-link">
          <img class="top-nav__back" src="../assets/menu/menu-white-back.svg">            
        </a>
        <h1 class="top-nav__title">Page Title</h1>
        <div id="hamburger-open" class="top-nav__open">
          <img class="top-nav__hamburger" src="../assets/menu/menu-white-open.svg">
          <div class="top-nav__notification notification"><p>3</p></div>            
        </div>
      </header>
      <main class="content">
        <h2 class="content__title">Menu Template</h2>
        <div class="content__info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat commodo felis eget tristique. Proin mi erat, pellentesque et metus in, fermentum ultricies nisl. Phasellus vitae ultrices nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur scelerisque ex et tincidunt elementum. Etiam euismod quam tincidunt lorem placerat lacinia. Fusce consequat eros ut ullamcorper viverra.</p>
          
          <p>Integer a orci magna. Proin massa odio, varius vitae semper sed, dapibus ac nunc. Vivamus eget nibh vel augue ullamcorper porta vel eget justo. Morbi viverra lectus non mi euismod bibendum. Nunc quis consectetur ligula, sed condimentum turpis. Donec tristique tellus id tincidunt faucibus. Integer dapibus urna vitae metus ultricies, ac scelerisque lacus ultrices. Fusce feugiat, massa a ultricies rutrum, sapien nibh bibendum dui, a venenatis quam metus sed justo. Cras cursus lectus in luctus congue. Aliquam imperdiet urna magna, nec posuere augue facilisis sit amet. Fusce luctus mattis urna at ornare. Nam vitae est nibh. Nunc feugiat lorem eros, quis pulvinar est fringilla ac. Pellentesque vel nulla vel arcu dapibus porttitor non in magna. Pellentesque sit amet finibus sem.</p>

          <p>Praesent pulvinar mauris nibh, in vestibulum magna vulputate non. Aenean ornare commodo odio egestas faucibus. Maecenas tempus lectus ut commodo eleifend. Mauris tempus convallis metus. Praesent in eros nec neque ornare imperdiet. Suspendisse ac velit ultricies justo dictum tincidunt quis nec odio. Morbi finibus velit ut viverra eleifend. Etiam vehicula accumsan elementum. Pellentesque iaculis ipsum a elit iaculis pretium. Phasellus nulla nulla, egestas et urna eget, facilisis rhoncus massa. Sed cursus auctor nibh, eu maximus ipsum rhoncus at. Nullam vel enim lorem. Aenean et justo hendrerit, laoreet ex et, dictum sem. Mauris tincidunt justo molestie, elementum ante a, aliquam mauris.</p>
          
          <p>Quisque eu ipsum sed est fermentum condimentum. Duis nec mauris viverra, congue urna ac, pellentesque sapien. Fusce vitae interdum lectus. Ut et turpis urna. Vivamus imperdiet euismod hendrerit. Nam nisl libero, condimentum quis condimentum et, rutrum id ligula. Integer eleifend non dui vitae porttitor. Vivamus malesuada, ligula lacinia ullamcorper pretium, lorem nisl sagittis quam, eu cursus risus mauris eget ex.</p>
          
          <p>Fusce dignissim, turpis quis elementum mollis, odio neque rutrum nibh, et efficitur est leo eget magna. Aliquam sed diam purus. Etiam lacinia ipsum vitae mauris ornare euismod. Sed consectetur, purus eu euismod pulvinar, sapien orci auctor erat, vel laoreet dolor nunc nec tortor. Phasellus fermentum orci eget ullamcorper consequat. Etiam facilisis urna est, vel aliquet sapien semper in. Suspendisse potenti. Vestibulum id purus risus. Sed vitae eros vitae eros lobortis hendrerit. In hac habitasse platea dictumst.</p>
        </div>
      </main>
      <footer class="footer-nav">
        <ul class="footer-nav__items">
          <li class="footer-nav__item selected">
            <a href="payment.html" class="footer-nav__link">
              <div class="footer-nav__icon">
                <img src="../assets/menu/tab-gray-services.svg" class="footer-nav__image">                
                <div class="footer-nav__notification notification"><p>7</p></div>
              </div>
              <div class="footer-nav__name">My Services</div>
            </a>
          </li>
          <li class="footer-nav__">
            <a href="hamburger.html" class="footer-nav__link">
              <div class="footer-nav__icon">
                <img src="../assets/menu/tab-gray-profile.svg" class="footer-nav__image">                
              </div>
              <div class="footer-nav__name">Profile</div>
            </a>
          </li>
          <li class="footer-nav__item">
            <a href="login.html" class="footer-nav__link">
              <div class="footer-nav__icon">
                <img src="../assets/menu/tab-gray-timeline.svg" class="footer-nav__image">                
              </div>
              <div class="footer-nav__name">Timeline</div>
            </a>
          </li>
          <li class="footer-nav__item">
            <a href="payment.html" class="footer-nav__link">
              <div class="footer-nav__icon">
                <img src="../assets/menu/tab-gray-store.svg" class="footer-nav__image">
                <div class="footer-nav__notification notification"><p>18</p></div>              
              </div>
              <div class="footer-nav__name">Gov Store</div>       
            </a>   
          </li>  
        </ul>
      </footer>
    </div>
    <script type="text/javascript" src="../js/main.js"></script>      
  </body>
</html>